.composite-bar{
  left: 0px;
  width: 48px;
  height: 100%;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.4);
}

.actions-container{
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}
