.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ExportSvgBtn{
  margin-top: 50px;
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 160px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #606060;
  cursor: pointer;
  &:hover {
    background-color: #707070;
  }
}
